In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import lifelines
import category_encoders as ce
from sklearn.linear_model import LinearRegression
from sklearn.metrics import explained_variance_score
import xgboost

In [10]:
installs = pd.read_csv(r'../DataTP2/installs.csv')

/home/mati/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (4,15) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [109]:
installDate = installs[['created','ref_hash']]
installs.info()
installs['sum'] = 1

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 481511 entries, 0 to 481510
Data columns (total 18 columns):
created               481511 non-null datetime64[ns]
application_id        481511 non-null int64
ref_type              481511 non-null int64
ref_hash              481511 non-null int64
click_hash            1142 non-null object
attributed            481511 non-null bool
implicit              481511 non-null bool
device_countrycode    481511 non-null int64
device_brand          276443 non-null float64
device_model          454619 non-null float64
session_user_agent    466672 non-null object
user_agent            330768 non-null object
event_uuid            103168 non-null object
kind                  103168 non-null object
wifi                  294829 non-null object
trans_id              8933 non-null object
ip_address            481511 non-null int64
device_language       453934 non-null float64
dtypes: bool(2), datetime64[ns](1), float64(3), int64(5), object(7)
memory usage: 59.7+ MB

In [17]:
installDate['sum'] = 1
installDate.head()

/home/mati/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

                   created             ref_hash  sum
0  2019-04-24 06:23:29.495  4716708407362582887    1
1  2019-04-24 02:06:01.032  7143568733100935872    1
2  2019-04-20 10:15:36.274  5230323462636548010    1
3  2019-04-20 21:56:47.151  5097163995161606833    1
4  2019-04-20 22:40:41.239  6328027616411983332    1

In [4]:
cols = ['date','ref_hash']

In [5]:
auctions = pd.read_csv(r'../DataTP2/events.csv',usecols = cols)

In [7]:
auctions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7744581 entries, 0 to 7744580
Data columns (total 2 columns):
date        object
ref_hash    int64
dtypes: int64(1), object(1)
memory usage: 118.2+ MB

In [30]:
auctions['ref_hash'].nunique()

362619

In [87]:
events = auctions
events['sum'] = 1

KeyboardInterrupt:

# events

In [122]:
eventsVentanaUno = events.loc[(events["date"] < "2019-04-21")]
eventsVentanaUno = eventsVentanaUno.loc[(events["date"] > "2019-04-18")]

eventsVentanaDos = events.loc[(events["date"] < "2019-04-22")]
eventsVentanaDos = eventsVentanaDos.loc[(events["date"] > "2019-04-19")]

In [123]:
eventsVentanaTres = events.loc[(events["date"] < "2019-04-23")]
eventsVentanaTres = eventsVentanaTres.loc[(events["date"] > "2019-04-20")]

eventsVentanaCuatro = events.loc[(events["date"] < "2019-04-24")]
eventsVentanaCuatro = eventsVentanaCuatro.loc[(events["date"] > "2019-04-21")]

In [124]:
eventsVentanaCinco = events.loc[(events["date"] < "2019-04-25")]
eventsVentanaCinco = eventsVentanaCinco.loc[(events["date"] > "2019-04-22")]

eventsVentanaSeis = events.loc[(events["date"] < "2019-04-26")]
eventsVentanaSeis = eventsVentanaSeis.loc[(events["date"] > "2019-04-23")]

eventsVentanaSiete = events.loc[(events["date"] < "2019-04-27")]
eventsVentanaSiete = eventsVentanaSiete.loc[(events["date"] > "2019-04-24")]

# installs

In [110]:
installVentanaUno = installs.loc[(installs["created"] < "2019-04-21")]
installVentanaUno = installVentanaUno.loc[(installs["created"] > "2019-04-18")]

installVentanaDos = installs.loc[(installs["created"] < "2019-04-22")]
installVentanaDos = installVentanaDos.loc[(installs["created"] > "2019-04-19")]

In [111]:

installVentanaTres = installs.loc[(installDate["created"] < "2019-04-23")]
installVentanaTres = installVentanaTres.loc[(installs["created"] > "2019-04-20")]

installVentanaCuatro = installs.loc[(installs["created"] < "2019-04-24")]
installVentanaCuatro = installVentanaCuatro.loc[(installs["created"] > "2019-04-21")]

In [112]:

installVentanaCinco = installs.loc[(installs["created"] < "2019-04-25")]
installVentanaCinco = installVentanaCinco.loc[(installs["created"] > "2019-04-22")]

installVentanaSeis = installs.loc[(installs["created"] < "2019-04-26")]
installVentanaSeis = installVentanaSeis.loc[(installs["created"] > "2019-04-23")]

installVentanaSiete = installs.loc[(installs["created"] < "2019-04-27")]
installVentanaSiete = installVentanaSiete.loc[(installs["created"] > "2019-04-24")]

In [113]:
installVentanaUno['created'] = installVentanaUno['created'] - pd.to_datetime("2019-04-18 00:00:00")
installVentanaDos['created'] = installVentanaDos['created'] - pd.to_datetime("2019-04-19 00:00:00")
installVentanaTres['created'] = installVentanaTres['created'] - pd.to_datetime("2019-04-20 00:00:00")
installVentanaCuatro['created'] = installVentanaCuatro['created'] - pd.to_datetime("2019-04-21 00:00:00")
installVentanaCinco['created'] = installVentanaCinco['created'] - pd.to_datetime("2019-04-22 00:00:00")
installVentanaSeis['created'] = installVentanaSeis['created'] -  pd.to_datetime("2019-04-23 00:00:00")
installVentanaSiete['created'] = installVentanaSiete['created'] -  pd.to_datetime("2019-04-24 00:00:00")

In [125]:
eventsVentanaUno['date'] = pd.to_datetime(eventsVentanaUno['date']) - pd.to_datetime("2019-04-18 00:00:00")
eventsVentanaDos['date'] = pd.to_datetime(eventsVentanaDos['date']) - pd.to_datetime("2019-04-19 00:00:00")
eventsVentanaTres['date'] = pd.to_datetime(eventsVentanaTres['date']) - pd.to_datetime("2019-04-20 00:00:00")
eventsVentanaCuatro['date'] = pd.to_datetime(eventsVentanaCuatro['date']) - pd.to_datetime("2019-04-21 00:00:00")
eventsVentanaCinco['date'] = pd.to_datetime(eventsVentanaCinco['date']) - pd.to_datetime("2019-04-22 00:00:00")
eventsVentanaSeis['date'] =  pd.to_datetime(eventsVentanaSeis['date']) - pd.to_datetime("2019-04-23 00:00:00")
eventsVentanaSiete['date'] = pd.to_datetime(eventsVentanaSiete['date'])- pd.to_datetime("2019-04-24 00:00:00")

In [114]:
installVentanaUno.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 160861 entries, 2 to 481415
Data columns (total 19 columns):
created               160861 non-null timedelta64[ns]
application_id        160861 non-null int64
ref_type              160861 non-null int64
ref_hash              160861 non-null int64
click_hash            307 non-null object
attributed            160861 non-null bool
implicit              160861 non-null bool
device_countrycode    160861 non-null int64
device_brand          95803 non-null float64
device_model          152978 non-null float64
session_user_agent    156740 non-null object
user_agent            111880 non-null object
event_uuid            35226 non-null object
kind                  35226 non-null object
wifi                  100903 non-null object
trans_id              2867 non-null object
ip_address            160861 non-null int64
device_language       153042 non-null float64
sum                   160861 non-null int64
dtypes: bool(2), float64(3), int64(6), object(7), timedelta64[ns](1)
memory usage: 22.4+ MB

In [115]:
installVentanaUno['created'] = installVentanaUno['created'].dt.total_seconds()
installVentanaDos['created'] = installVentanaDos['created'].dt.total_seconds()
installVentanaTres['created'] = installVentanaTres['created'].dt.total_seconds()
installVentanaCuatro['created'] = installVentanaCuatro['created'].dt.total_seconds()
installVentanaCinco['created'] = installVentanaCinco['created'].dt.total_seconds()
installVentanaSeis['created'] = installVentanaSeis['created'].dt.total_seconds()
installVentanaSiete['created'] =installVentanaSiete['created'].dt.total_seconds()

In [126]:
eventsVentanaUno['date'] = eventsVentanaUno['date'].dt.total_seconds()
eventsVentanaDos['date'] = eventsVentanaDos['date'].dt.total_seconds()
eventsVentanaTres['date'] = eventsVentanaTres['date'].dt.total_seconds()
eventsVentanaCuatro['date'] = eventsVentanaCuatro['date'].dt.total_seconds()
eventsVentanaCinco['date'] = eventsVentanaCinco['date'].dt.total_seconds()
eventsVentanaSeis['date'] =  eventsVentanaSeis['date'].dt.total_seconds()
eventsVentanaSiete['date'] = eventsVentanaSiete['date'].dt.total_seconds()

In [127]:
eventsVentanaUno['date'].min()

0.027000000000000003

In [116]:
iv1 = installVentanaUno.groupby(['ref_hash']).agg({'created':'mean', 'sum':'sum','implicit':lambda x: (x ==True).mean(),'wifi':lambda x: (x == True).mean()})
iv2 = installVentanaDos.groupby(['ref_hash']).agg({'created':'mean', 'sum':'sum','implicit':lambda x: (x ==True).mean(),'wifi':lambda x: (x == True).mean()})
iv3 = installVentanaTres.groupby(['ref_hash']).agg({'created':'mean', 'sum':'sum','implicit':lambda x: (x ==True).mean(),'wifi':lambda x: (x == True).mean()})
iv4 = installVentanaCuatro.groupby(['ref_hash']).agg({'created':'mean', 'sum':'sum','implicit':lambda x: (x ==True).mean(),'wifi':lambda x: (x == True).mean()})
iv5 = installVentanaCinco.groupby(['ref_hash']).agg({'created':'mean', 'sum':'sum','implicit':lambda x: (x ==True).mean(),'wifi':lambda x: (x == True).mean()})
iv6 = installVentanaSeis.groupby(['ref_hash']).agg({'created':'mean', 'sum':'sum','implicit':lambda x: (x ==True).mean(),'wifi':lambda x: (x == True).mean()})
iv7 = installVentanaSiete.groupby(['ref_hash']).agg({'created':'mean', 'sum':'sum','implicit':lambda x: (x ==True).mean(),'wifi':lambda x: (x == True).mean()})

In [128]:
ev1 = eventsVentanaUno.groupby(['ref_hash']).agg({'date':'mean','sum':'sum'})
ev2 = eventsVentanaDos.groupby(['ref_hash']).agg({'date':'mean','sum':'sum'})
ev3 = eventsVentanaTres.groupby(['ref_hash']).agg({'date':'mean','sum':'sum'})
ev4 = eventsVentanaCuatro.groupby(['ref_hash']).agg({'date':'mean','sum':'sum'})
ev5 = eventsVentanaCinco.groupby(['ref_hash']).agg({'date':'mean','sum':'sum'})
ev6 = eventsVentanaSeis.groupby(['ref_hash']).agg({'date':'mean','sum':'sum'})
ev7 = eventsVentanaSiete.groupby(['ref_hash']).agg({'date':'mean','sum':'sum'})

In [129]:
ev1.head()

                          date  sum
ref_hash
41863526108385   140063.116193   88
161514654074162  147937.895375    8
186034136943920   60126.241846   13
360710529886978  214874.528000    3
365882020742330  151255.449737   57

In [118]:
iv1.head()

                      created  sum  implicit  wifi
ref_hash
41863526108385    76472.69225    4       0.5   0.0
135153013040192  192980.25800    1       0.0   0.0
186034136943920   60042.83900    1       1.0   0.0
365882020742330   96156.50800    1       0.0   0.0
519199987760489   92860.47500    1       0.0   1.0

In [130]:
iev1 = iv1.merge(ev1, how = 'left', on = 'ref_hash')
iev1['sum_y'].fillna(value = 0,inplace = True)
iev1['eventos_por_install_avg'] = iev1['sum_y']/iev1['sum_x']

iev2 = iv2.merge(ev2, how = 'left', on = 'ref_hash')
iev2['sum_y'].fillna(value = 0,inplace = True)
iev2['eventos_por_install_avg'] = iev2['sum_y']/iev2['sum_x']

iev3 = iv3.merge(ev1, how = 'left', on = 'ref_hash')
iev3['sum_y'].fillna(value = 0,inplace = True)
iev3['eventos_por_install_avg'] = iev3['sum_y']/iev3['sum_x']

iev4 = iv4.merge(ev4, how = 'left', on = 'ref_hash')
iev4['sum_y'].fillna(value = 0,inplace = True)
iev4['eventos_por_install_avg'] = iev4['sum_y']/iev4['sum_x']

iev5 = iv5.merge(ev5, how = 'left', on = 'ref_hash')
iev5['sum_y'].fillna(value = 0,inplace = True)
iev5['eventos_por_install_avg'] = iev5['sum_y']/iev5['sum_x']

iev6 = iv6.merge(ev6, how = 'left', on = 'ref_hash')
iev6['sum_y'].fillna(value = 0,inplace = True)
iev6['eventos_por_install_avg'] = iev6['sum_y']/iev6['sum_x']

iev7 = iv7.merge(ev7, how = 'left', on = 'ref_hash')
iev7['sum_y'].fillna(value = 0,inplace = True)
iev7['eventos_por_install_avg'] = iev7['sum_y']/iev7['sum_x']

In [132]:
iev1['date'].fillna(value = 259200,inplace = True)
iev2['date'].fillna(value = 259200,inplace = True)
iev3['date'].fillna(value = 259200,inplace = True)
iev4['date'].fillna(value = 259200,inplace = True)
iev5['date'].fillna(value = 259200,inplace = True)
iev6['date'].fillna(value = 259200,inplace = True)
iev7['date'].fillna(value = 259200,inplace = True)

#### entonces las ventanas obtenidas contienen features en base a wifi, cantidad de eventos, cantidad de installs,promedio de implicit installs y la cantidad promedio de eventos por cada install.